@use "sass:color";

$color-background: #1A1831;
$color-text: white;

$color-blue: #62A2E4;
$color-pink: #E779B7;
$color-green: #69b857;
$color-orange: #E48553;

$color-background-transparency: rgba(0, 0, 0, .15);

$default-text-shadow: 1px 1px 6px rgba(0, 0, 0, .25);

$color-text-accent: color.change($color-text, $alpha: 0.65);
$color-text-accent-lighter: color.change($color-text, $alpha: 0.8);

$default-font-size: 21px;
$default-font-size-mobile: 18px;

$default-image-border-radius: 5px;
$default-image-box-shadow: 0 3px 32px rgba(0, 0, 0, .20);